# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/pythonBackend/gotsentiment-service-file.json
/pythonBackend/twitter_config.py
/src/utils/apiKey.js
/pythonBackend/__pycache__
/pythonBackend/episode 2 data
/pythonBackend/afterEpisode2.txt
/pythonBackend/gotbackup-service-file.json
/pythonBackend/collecteddata/
