@font-face {
  font-family: "Game of Thrones";
  src: url("./styles/Game of Thrones.ttf") format("truetype");
}

@font-face {
  font-family: "Trajan Pro Regular";
  src: url("./styles/Trajan Pro Regular.ttf") format("truetype");
}


body {
  margin: 0px;
  padding: 0px;
  height: auto;
  /* background-image: url("./styles/background.png");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #F6F7F8;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=5946), default;
}

a {
  font-family: "Trajan Pro Regular";
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  color: #407398;
  margin: 0px;
  text-decoration: none;
}

a:hover {
  position: relative;
  top: -2px;
  text-decoration: underline;
}

h1 {
  font-family: "Trajan Pro Regular";
  font-weight: 400;
  font-size: 36px;
  color: #272320;
}

h2 {
  font-family: "Trajan Pro Regular";
  font-weight: 700;
  font-size: 26px;
  color: #2C771B;
  letter-spacing: -0.79px;
  margin: 4px 0px 0px 0px;
}

h3 {
  font-family: "Game of Thrones", "Trajan Pro Regular";
  color: #272320;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .5px;
  text-align: center;
  margin: 0px 0px;
}

h4 {
  font-family: "Trajan Pro Regular";
  font-size: 16px;
  font-weight: 600;
  color: #6E6B68;
  letter-spacing: .1px;
  margin: 0px;
}

h5 {
  font-family: "Trajan Pro Regular";
  font-size: 12px;
  font-weight: 500;
  color: #6E6B68;
  letter-spacing: .1px;
  margin-bottom: 0px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2%;
}

.sentimentHappy {
  color: #3A7737;
  text-align: left;
}

.sentimentNeutral {
  color: #407398;
  text-align: left;
}

.sentimentSad {
  color: #732727;
  text-align: left;
}