@font-face {
  font-family: "Game of Thrones";
  src: url("./styles/Game of Thrones.ttf") format("truetype");
}

@font-face {
  font-family: "Trajan Pro Regular";
  src: url("./styles/Trajan Pro Regular.ttf") format("truetype");
}


body {
  margin: 0px;
  padding: 0px;
  height: auto;
  /* background-image: url("./styles/background.png");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #FFFFFC
}

h1 {
  font-family: "Trajan Pro Regular";
  font-weight: 400;
  font-size: 36px;
  color: #272320;
}

h2 {
  font-family: "Trajan Pro Regular";
  font-weight: "400";
  font-size: 26px;
  color: #2C771B;
  letter-spacing: -0.79px;
  margin: 4px 0px 0px 0px;
}

h3 {
  font-family: "Game of Thrones", "Trajan Pro Regular";
  color: #272320;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: .5px;
  text-align: center;
  margin: 0px 0px;
}

h4 {
  font-family: "Trajan Pro Regular";
  font-size: 16px;
  font-weight: 400;
  color: #6E6B68;
  letter-spacing: .1px;
  margin: 0px;
}

h5 {
  font-family: "Trajan Pro Regular";
  font-size: 10px;
  font-weight: 400;
  color: #6E6B68;
  letter-spacing: .1px;
  margin-bottom: 0px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2%;
}

.nameTitle {}

.sentimentSad {
  color: #9C1212;
  text-align: left;
}

.sentimentNeutral {
  color: #747229;
  text-align: left;
}

.sentimentHappy {
  color: #2C771B;
  text-align: left;
}